#root {
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.dex {
  margin: 100px auto;
  border-radius: 20px;
  padding: 30px;
  width: 500px;
  height: 300px;
  display: flex;
  background-color: white;
}

.wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.logo {
  width: 50px;
}

h3 {
  font-size: 18px;
  color: black;
}

.balance {
  font-size: 20px;
  color: black;
}

.dexbtn {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100px;
  height: 30px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: transparent;
  font-size: 16px;
  color: black;
  overflow: hidden;
  white-space: nowrap;                  
  text-overflow: ellipsis;
}
